html,body{
    height: 100%;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
[href]{
    text-decoration: none;
    color:pink;
}
.box p{
    color:red;
}
.box>div{
    width:700px;
    height: 300px;
    background-color: gray;
    font-size: 50px;
}
.box>div:hover{
    background-color: yellow;
    font-size:30px;
}
ul>li:nth-child(1){
    font-size: 20px;
}
ul>li:nth-child(2){
    font-size: 30px;
}
ul>li:nth-child(3){
font-size: 40px;

}